table {border-collapse: collapse;}
th, td {border: 1px solid black;}
th, td {
padding: 10px; 
color: black;
background: black;
width: 400px;
}
a:link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: red;
    }
    a.link1 { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
    color: rgb(14, 209, 209); 
    }
    a.link2 { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: yellow;
     }

    a:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    }

    a:hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: orange;
    }
    a:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #DC0000;
    }

    .pole {
    border: 1px solid #008000;
    width: 95px;
    font-size: 11px;
    background-color: #E7F2D7;
    height: 17px;
    }

    .pole2 {
    border: 1px solid #008000;
    font-size: 11px;
    background-color: #E7F2D7;
    height: 17px;
    }
    